/*
Vous commencez votre carrière en tant qu'intégrateur web. Votre premier client est un renommé chef japonnais Daichi Sakamoto.
Son designer japonais a prépare pour vous une maquette minimaliste, aérée et très lisible 
vous pouvez voir son prototype en action ici https://cdpn.io/alyra/debug/8492b4775f2abb53fcd260adf4173723
La police utilisée ici - Changa - c'est une police google fonts à charger dans HTML settings > head stuff
La référence de la couleur jaune - #fee500
*/
/* ref: https://s3-us-west-2.amazonaws.com/s.cdpn.io/1328554/chottomotto.png (images/chottomotto) */

/* ajouter une bordure jaune autour du body 24px  */
/* changer la police pour Changa, laisser le sans-serif comme le 2e choix */
/* augmente la taille de police au 20px, l'interligne de 1.8 */
:root{
    --yellow: #fee500;
    --min : 0.5rem;
    --med : 1rem;
    --norm: 2rem;
}
* {
    box-sizing: border-box;
 }
 
body {
    border: 1.5rem solid var(--yellow);
    font-family: "Changa", sans-serif;
    font-size: 1.25rem;
    line-height: var(--norm);
    padding: var(--norm);
    margin : 0;
}

/* le block contenu est centré ne dépasse pas la largeur de 720px */
main {
    text-align: center;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
}

/* les images ne dépassent pas l'écran */
img {
    max-width: 100%;
    height: auto;
}
/* centrer les éléments de la partie header */
header {
    text-align: center;
    padding: var(--norm);
}
header img{
    margin-bottom: var(--med);
}
h1 {
    font-weight: 900;
    margin-top: var(--med);
}

/* titre h2 centré */
h2 {
    margin-top: var(--norm);
    text-align: center;
}

/* les éléments dans le footer centrée */
footer {
    text-align: center;
}

/* taille de police plus grande (32px) dans le paragraphe intro, centré */
.intro {
    font-size: var(--norm);
    text-align: center;
}

/* titre h2 centré */
h2 {
    text-align: center;
}

/* les éléments dans le footer centrée */
footer {
    text-align: center;
}

/* la liste sans bullets */
/* pas de marge ni de padding */
nav ul {
    list-style: none;
    margin: 1.5rem 0;
    padding: 0;
    display: inline-block;
}

/* les éléments de la liste affichés dans une ligne */
nav li {
    display: inline;
}

/* les liens dans la partie navigation en majuscules, couleur noir */
/* espacés de 12px */
nav a {
    text-transform: uppercase;
    padding: 0.25rem var(--min);
    background-color: var(--yellow);
    color: black;
}

/* le lien dans la partie navigation en survol devient jaune  */
nav a:hover {
    transition: 0.5s;
    color: white;
    background-color: black;
}